* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.sidebar {
  position: absolute;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #2b3d5c;
  transition: all 0.5s ease;
  z-index: 1023;
}

.sidebar h1 {
  font-size: 22px;
  color: #ffde70;
  text-align: center;
  line-height: 70px;
  background: #1a2e52;
  user-select: none;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 15px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
  transition: 0.4s;
}

ul li:hover a {
  padding-left: 50px;

}

.sidebar ul a i {
  margin-right: 16px;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  background: #1357a6;
  border-radius: 3px;
  z-index: 1022;
}

label #btn {
  left: 50px;
  top: 25px;
  font-size: 35px;
  color: white;
  padding: 6px 12px;
  transition: all 0.5s;
  z-index: 1022;
}

label #cancel {
  z-index: 1111;
  left: -195px;
  top: 17px;
  font-size: 30px;
  color: white;
  padding: 4px 9px;
  transition: all 0.5s ease;
}

#check:checked~.sidebar {
  left: 0;
}

#check:checked~label #btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked~label #cancel {
  left: 195px;
}

#check:checked~section {
  margin-left: 250px;
}

html,
body,
#map {
  height: 100%;
}

.popup {
  background-color: #2b3d5c;
  padding: 30px 40px;
  position: absolute;
  height: 100%;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  color: white;
  display: none;
  text-align: center;
  z-index: 1023;
}

.popup button {
  display: block;
  margin: 20px auto;
  align: center;
  background-color: transparent;
  font-size: 30px;
  color: #ffde70;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 1023;
}

.popup p {
  font-size: 14px;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
  z-index: 1023;
}

.popup span {
  font-weight: bold;
  color: white;
}
